page-activity {

  .graph-header {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }

  .emoji-sentiments {
    padding: -5px;
    border-radius: 5px;
    border-bottom: 4.5px solid rgb(246, 246, 246);
    display: flex;
    text-align: center;
    margin: 25px auto;
    min-width: 100px;
  }

  .emoji-1 {
    width: 30%;
  }

  .emoji-2 {
    width: 30%;
  }

  .emoji-3 {
    width: 44%;
  }

  .emoji-4 {
    width: 58%;
  }

  .emoji-5 {
    width: 71%;
  }

  .sentiment_img {
    margin: 5px auto;
    align-items: center;
  }

  .sentiment_img img {
    text-align: center;
  }

  .fak {
    margin: 20px 0;
  }

  background-color: white;
}
