<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Activity</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 class='graph-header'>Your most used sentiments recently</h1>
  <div class='emoji-sentiments card'>
    <img class='sentiment_img' *ngFor='let sentiment of top_sentiments' height="35px" width="32px" (click)="sentimentPopup(sentiment.name, sentiment.taggings_count)" [src]="sentiment.imagePath"/>
  </div>
  <div *ngIf="isDataAvailable">
    <h1 class='graph-header'>Your entries from the past week</h1>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="barChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <h1 class='graph-header'>Your entries from the past six months</h1>
    <div class="col-md-6">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</ion-content>
