<ion-header>
  <ion-navbar *ngIf="getUser()">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-navbar *ngIf="!getUser()">
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [@visibilityChanged]="visibility" style="opacity: 0">
  <div *ngIf="getUser()">
    <h1 (click)="sentimentPopup()">Gather Your Thoughts</h1>
    <h6>Your personal smart journal</h6>
    <ion-card (click)="presentEntryModal()">
      <ion-card-header>Create entry</ion-card-header>
    </ion-card>
    <div *ngIf="isDataAvailable">
      <h5> Your entries in the last month. How have you been feeling?</h5>
      <div style="display: block">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <h6>Your most recent entries</h6>
      <ion-card margin *ngFor="let entry of entries" (click)="navigateToEntry(entry.id)"
                class="{{entry.attributes.sentiments[0].toLowerCase()}} card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header>{{ entry.attributes.title }}</ion-card-header>
            </ion-col>
            <ion-col class="right-col">
              <p>{{entry.attributes.labels}}, {{entry.attributes.date}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <div *ngIf="!getUser()">
    <h1>Gather Your Thoughts</h1>
    <h6>Your personal smart journal</h6>
    <ion-card padding>
      <p>Welcome to your new place for journalkeeping. If you have ideas, reflections or just want to write stuff down
        this is the place to do it </p>
      <strong>Sign up or Login to Continue</strong>
    </ion-card>
    <button ion-button type="submit" (click)="openLogin()">Login</button>
    <button ion-button type="submit" (click)="openSignup()">Sign up</button>
  </div>
</ion-content>
