// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.happy {
  border-right: 7px solid #FCAE3B;
}
.sad {
  border-right: 7px solid #89D0FF;
}

.angry {
  border-right: 7px solid #FD6153;
}

.neutral {
  border-right: 7px solid #F6FE5C;
}
.excited {
  border-right: 7px solid #69FB5F;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#logout {
  position: absolute;
  bottom: 0;
}
