<ion-header>

  <ion-navbar>
    <ion-title>Create Thought</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="createThought()">
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="thought.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Body</ion-label>
      <ion-textarea [(ngModel)]="thought.body" name="body"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Choose one of {{ count }} previous labels</ion-label>
      <ion-select [(ngModel)]="thought.label_list" name="label_list" (ionChange)="previousLabelSet()">
        <ion-option *ngFor="let label of labels">{{ label.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!label">
      <ion-label>Choose a new label</ion-label>
      <ion-input [(ngModel)]="inputVal" (keyup)="newLabelSet(inputVal)" name="label_input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sentiment</ion-label>
      <ion-select [(ngModel)]="thought.sentiment_list" name="sentiment_list">
        <ion-option value="Happy">Happy</ion-option>
        <ion-option value="Sad">Sad</ion-option>
        <ion-option value="Angry">Angry</ion-option>
        <ion-option value="Excited">Excited</ion-option>
        <ion-option value="Neutral">Neutral</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button type="submit" block>Create Thought</button>
  </form>
</ion-content>
