<ion-header>

  <ion-navbar>
    <ion-title>Create Entry</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="createEntry()">
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="entry.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Body</ion-label>
      <ion-textarea rows="10" (ionBlur)="blur()" [(ngModel)]="entry.body" name="body"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="suggestedLabels">
      <ion-label>Suggested Labels:</ion-label>
      <ion-select [(ngModel)]="entry.label_list" name="label_list">
        <ion-option *ngFor="let label of suggestedLabels">{{ label }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="count">
      <ion-label>Choose one of {{ count }} previous labels</ion-label>
      <ion-select [(ngModel)]="entry.label_list" name="label_list" (ionChange)="previousLabelSet()">
        <ion-option *ngFor="let label of labels">{{ label.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!label">
      <ion-label>Choose a new label</ion-label>
      <ion-input [(ngModel)]="inputVal" (keyup)="newLabelSet(inputVal)" name="label_input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sentiment</ion-label>
      <ion-select [(ngModel)]="entry.sentiment_list" name="sentiment_list">
        <ion-option value="Happy">Happy</ion-option>
        <ion-option value="Sad">Sad</ion-option>
        <ion-option value="Angry">Angry</ion-option>
        <ion-option value="Excited">Excited</ion-option>
        <ion-option value="Neutral">Neutral</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button type="submit" block>Create Entry</button>
  </form>
</ion-content>
